@page "/0701ActorsShow"

@using DSS.Models;

<PageTitle>Actors</PageTitle>
<h1>Actors</h1>
<br />
<table>
    <th>
        <td>First name</td>
        <td>Last name</td>
        <td>IMDB score</td>
    </th>
    @foreach (Actor act in filmCrew)
    {
        <tr>
            <td>@act.FirstName</td>
            <td>@act.LastName</td>
            <td>@act.ImdbMark</td>
        </tr>
    }
</table>
<br />
<button @onclick="AverageIMDB">Average IMDB</button>
<br />
@if (showResult)
{
    <p> Average IMDB is: @avgIMDB </p>
}
@code {
    private bool showResult = false;

    private double avgIMDB;

    private Actor[] filmCrew = new Actor[3];

    protected override async Task OnInitializedAsync()
    {
        filmCrew[0] = new Actor()
        {
            FirstName = "John",
            LastName = "Goodman",
            ImdbMark = 9.7
        };
        filmCrew[1] = new Actor()
        {
            LastName = "Costner",
            ImdbMark = 9.3,
            FirstName = "Kevin"
        };
        filmCrew[2] = new Actor()
        {
            LastName = "De Niro",
            ImdbMark = 9.4,
            FirstName = "Robert"
        };
        await Task.Run(() => filmCrew[0].ImdbMark = filmCrew[0].ImdbMark+0  );
    }

    private void AverageIMDB()
    {
        showResult = true;
        double sum = 0;
        foreach (Actor a in filmCrew)
            sum += a.ImdbMark;
        avgIMDB = sum / filmCrew.Length;
    }
}
